* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.6rem;
	font-family: 'Saira', sans-serif;
}
.contenedor {
	width: 90%;
	max-width: 1020px;
	margin: 0 auto;
}
